<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sippr.demo.modules.test.mapper.TestMapper">
    <select id="test" resultType="com.sippr.demo.modules.test.entity.po.TrendData">
        select * from repair.trend_data limit 10
    </select>

</mapper>